[package]
name = "gopro-controller"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
btleplug = "0.11.1"
futures = "0.3.29"
tokio = { version = "1.33.0", features = ["full"] }
uuid = "1.5.0"
